.board{
   height: 100px;
    width: 100px;
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
}
.rowsquare{
    
}

.squarebtn{
    width: 30px;
    height:30px;
    float : left;
    
}